{% load i18n %}
{% load static %}
{% load generals_tag %}
{% get_current_language as CURRENT_LANGUAGE %}
<!DOCTYPE html>

<html lang="{{ CURRENT_LANGUAGE }}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{% block descriptions %} {{ meta_content }}{% endblock descriptions %}"/>
{% get_yandex_metrika_link|safe %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet"/>
    <link type="image/x-icon" href="{% get_current_favicon %}" rel="icon">
    <link rel="stylesheet" href="{% static 'docs/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'docs/css/style.css' %}"/>
    <script defer src="{% static 'docs/htmx.min.js' %}"></script>
    <script defer src="{% static 'docs/js/script.js' %}"></script>
    <script defer src="{% static 'docs/js/index.bundle.js' %}"></script>


    {% block extra_css %}{% endblock extra_css %}

    <title>{% get_current_name %} | {{ title }} {% block title %}{% endblock title %}</title>
</head>
<body>

{% include 'themes/header.html' %}
<progress id="content-loader" class="htmx-indicator" max="100" style="width: 100%;"></progress>

<div id="main-content">
    {% block content %}


    {% endblock content %}
</div>

{% include 'themes/footer.html' %}
<a style="display:none" id="back-link" href="#" onclick="goBack()">
    Назад
</a>

<script>
    function goBack() {
        window.history.back();
    }
</script>
<script>
    document.addEventListener('htmx:afterSwap', function (event) {
        // При каждой смене контента обновляем URL
        var currentUrl = window.location.href;
        document.getElementById('back-link').href = currentUrl;

    });

    // Обработчик события popstate
    window.addEventListener('popstate', function (event) {
        // При нажатии кнопки "назад" браузера симулируем клик по ссылке "Назад"
        document.getElementById('back-link').click();
    });
</script>
{# Scripts #}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script defer src="https://code.createjs.com/1.0.0/createjs.min.js"></script>

{% block extra_js %}{% endblock extra_js %}
{# End scripts #}
</body>

</html>