{% load generals_tag %}

<footer class="footer">
    <div class="footer__container container">
        <p class="footer__description">{% get_current_content %}</p>
        <div class="footer__bottom">
            <ul>
                {% get_pages_footer as pages %}
                {% for page in pages %}
                123
                    {% if page.picture %}
                     <li>
                        <a
                                href="{{ page.other_link }}"
                        >
                            <img style="height:150px;width:300px;" src="{{ page.picture.url }}">
                        </a>
                    </li>
                    {% elif not page.picture %}
                    <li>
                        <a
                                href="{{ page.get_absolute_url }}"
                                hx-get="{{ page.get_absolute_url }}"
                                hx-target="#main-content"
                                hx-push-url="true"
                                hx-indicator="#content-loader"
                                hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                                hx-custom='title'
                        >
                            {{ page.name }}
                        </a>
                    </li>
                    {% endif %}

                {% endfor %}
            </ul>
            <p class="footer__copyright">&copy; {% get_current_copyright_text %}</p>
        </div>
    </div>
</footer>