
{% load events_tag %}
<!---title--->

<a
        href="{% url 'rubric' slug=rubrics.slug %}"
        hx-get="{% url 'rubric' slug=rubrics.slug %}"
        hx-target="#main-content" hx-history-elt="#main-content"
        hx-push-url="true"
        hx-indicator="#content-loader"
        hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
        hx-custom="title"
        id="refresh">
</a>
<style>
.country__div:hover {
    background-color: grey;
}
.events__tour-list li a {
    font-weight: 500;
    margin: 5px 0 0 0;
    font-size: 16px;
    color: #000;

}

.events__tour-list li a:hover {
    color: #0056b3;
}
</style>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<main class="events sp-container" id="sp-container">
    <div class="events__left-banners side-banners left">
        {% for baner in sidebar_baners_left %}
        <a href="{{ baner.slug }}" class="adv-link"><img src="{{ baner.baner.url }}" alt="logo" /></a>
        {% endfor %}
    </div>
    <div class="events__main event-container">
        <div class="events__sidebar" id="side-bar">
            <h3>Популярные</h3>
            {% get_popular_seasons as seasons %}
            <ul class="events__tour-list">
                {% for season in seasons%}
                <li >
                    <a
                            href="{% url 'season_detail'  season.season.slug %}"
                            hx-get="{% url 'season_detail' season.season.slug %}"
                            hx-target="#main-content" hx-history-elt="#main-content"
                            hx-push-url="true"
                            hx-indicator="#content-loader"
                            hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                    >{{season.season.season_name}}</a
                    >
                </li>
                {% endfor %}
            </ul>
            <h3 class="events__other-leagues">Другие лиги</h3>
            <div class="events__search-tour">

            </div>
            <div  id="country-list">

                 {% for country, seasons in grouped_seasons_popular.items %}
                <div class="country__div__main">

                    <div class="country__div" data-country="{{ country }}"  style="cursor:pointer;">


                                <h2 style="font-weight: 500;"><i class="{{country.image}}"></i>&nbsp;{{ country }} </h2>
                            </div>
                                <ul>
                                    {% for season in seasons %}
                                    {% if not season.season_name %}
                                    {% else %}
                                    <li data-season="{{ season.season_name }}">
                                        <a
                                                href="{% url 'season_detail' season.slug %}"
                                                hx-get="{% url 'season_detail' season.slug %}"
                                                hx-target="#main-content" hx-history-elt="#main-content"
                                                hx-push-url="true"
                                                hx-indicator="#content-loader"
                                                hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                                        ><img src="{{season.logo_league}}" width="20" height="20" alt="team">&nbsp;{{ season.season_name }}
                                        </a
                                        >
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                        </div>
                {% endfor %}
<!--                Снизу обычные-->
                {% get_country_seasons request as grouped_seasons %}
                {% for country, seasons in grouped_seasons.items %}
                    {% if country.sort_by == ''%}
                        {% if forloop.counter >= 25 %}
                        <div class="country__div__main none">
                        {% else %}
                                 <div class="country__div__main">
                        {% endif %}
                            <div class="country__div" data-country="{{ country }}"  style="cursor:pointer;">


                                <h2 style="font-weight: 500;"><i class="{{country.image}}"></i>&nbsp;{{ country }} </h2>
                            </div>
                                <ul>
                                    {% for season in seasons %}
                                    {% if not season.season_name %}
                                    {% else %}
                                    <li data-season="{{ season.season_name }}">
                                        <a
                                                href="{% url 'season_detail' season.slug %}"
                                                hx-get="{% url 'season_detail' season.slug %}"
                                                hx-target="#main-content" hx-history-elt="#main-content"
                                                hx-push-url="true"
                                                hx-indicator="#content-loader"
                                                hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                                        ><img src="{{season.logo_league}}" width="20" height="20" alt="team">&nbsp;{{ season.season_name }}
                                        </a
                                        >
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                        </div>

                    {% endif %}
                {% endfor %}
                <button id="show-more-button">Показать еще</button>
                <script>
                document.getElementById('show-more-button').addEventListener('click', function() {
                    // Находим все элементы с классом 'none'
                    var hiddenElements = document.querySelectorAll('.none');

                    // Проходим по каждому элементу и убираем класс 'none'
                    hiddenElements.forEach(function(element) {
                        element.classList.remove('none');
                    });
                    document.getElementById('show-more-button').style.display = 'none';
                });
            </script>
            </div>

            {% if sidebar_baners %}
            <div class="events__center-banners side-banners sidebar">
                {% for baner in sidebar_baners %}
                <a href="{{ baner.slug }}" class="adv-link"
                ><img src="{{ baner.baner.url }}" alt="logo"
                /></a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div>
            {% if gorizont_baners_top %}
            <div class="events__center-banners center-banners center-banners__top">
                {% for baner in gorizont_baners_top %}
                <a href="{{ baner.slug }}" class="adv-link"
                ><img src="{{ baner.baner.url }}" alt="logo"
                /></a>
                {% endfor %}
            </div>
            {% endif %}
            <div class="events__list-info">
                <div class="events__togglers" id="events-togglers">
                    <div class="events__togglers-btns-cont">
                        <div class="events__togglers-btns">
                            {% get_context request as contexturl %}
                            <a
                                    href="{% url 'rubric' rubrics.slug %}"
                                    hx-get="{% url 'rubric' rubrics.slug %}"
                                    hx-target="#main-content" hx-history-elt="#main-content"
                                    hx-push-url="true"
                                    hx-indicator="#content-loader"
                                    hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                                    class="events__toggle {% if contexturl  == 'now' %}active{% endif %}"
                            >Прямой эфир</a
                            >

                            {% with upcoming_view_name='events_upcoming' %}
                            <a
                                    href="{% url upcoming_view_name rubrics.slug %}"
                                    hx-get="{% url upcoming_view_name rubrics.slug %}"
                                    hx-target="#main-content" hx-history-elt="#main-content"
                                    hx-push-url="true"
                                    hx-indicator="#content-loader"
                                    hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                                    class="events__toggle {% if contexturl  == 'upcoming' %}active{% endif %}"
                            >Предстоящие</a
                            >
                            {% endwith %} {% with end_view_name='events_end' %}
                            <a
                                    href="{% url end_view_name rubrics.slug %}"
                                    hx-get="{% url end_view_name rubrics.slug %}"
                                    hx-target="#main-content" hx-history-elt="#main-content"
                                    hx-push-url="true"
                                    hx-indicator="#content-loader"
                                    hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                                    class="events__toggle {% if contexturl  == 'end' %}active{% endif %}"
                            >Завершенные</a
                            >
                            {% endwith %}
                        </div>
                    </div>
                </div>

                <ul class="events__list" id="ul-info">
                    {% include 'event_list_elements.html'%}
                </ul>

                <script>
// Находим все элементы с id="ul-info"
var ulInfoElements = document.querySelectorAll('#ul-info');

// Находим все элементы с id="div-with-info"
var divWithInfoElements = document.querySelectorAll('#div-with-info');

// Проверяем, есть ли у нас оба элемента и есть ли ulInfo вообще
if (ulInfoElements.length > 0 && divWithInfoElements.length > 1) {
    // Берем первый ulInfo
    var firstUlInfo = ulInfoElements[0];

    // Начиная со второго divWithInfo
    for (var i = 1; i < divWithInfoElements.length; i++) {
        // Перемещаем текущий divWithInfo внутрь первого ulInfo
        firstUlInfo.appendChild(divWithInfoElements[i]);
    }
}
                    var sideBarElements = document.querySelectorAll('#sp-container');
                    if (sideBarElements.length > 1) {
                        // Удаляем второй элемент из DOM
                        sideBarElements[1].parentNode.removeChild(sideBarElements[1]);
                    }
                </script>

            </div>
            {% if gorizont_baners_footer%}
            <div class="events__center-banners center-banners center-banners__bottom">
                {% for baner in gorizont_baners_footer %}
                <a href="{{ baner.slug }}" class="adv-link"
                ><img src="{{ baner.baner.url }}" alt="logo"
                /></a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="events__right-banners side-banners right">
        {% for baner in sidebar_baners_right %}

        <a href="{{ baner.slug }}" class="adv-link"><img src="{{ baner.baner.url }}" alt="logo" /></a>
        {% endfor %}
    </div>
</main>

