
{% load static %}



<main class="search sp-container" data-title = "{{title}}">
    <div class="search__left-banners side-banners left">
        {% for baner in sidebar_baners_left %}
        <a href="{{ baner.slug }}" class="adv-link">
            <picture>
                <source srcset="{{ baner.baner.url }}" type="image/webp" />
                <img src="{{ baner.baner.url }}" alt="logo" />
            </picture>
        </a>
        {% endfor %}
    </div>


    <div class="search__container">
        <div class="search__side-adv">
            {% for baner in sidebar_baners %}
            <a href="{{ baner.slug }}" class="adv-link">
                <picture>
                    <source srcset="{{ baner.baner.url }}" type="image/webp" />
                    <img src="{{ baner.baner.url }}" alt="logo" />
                </picture>
            </a>
            {% endfor %}

        </div>
        <div class="search__main">


            <div class="search__input">
                <input placeholder="Поиск" />
                <button>
                    <svg
                            stroke="currentColor"
                            fill="none"
                            stroke-width="0"
                            viewBox="0 0 24 24"
                            height="1em"
                            width="1em"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M18.319 14.4326C20.7628 11.2941 20.542 6.75347 17.6569 3.86829 14.5327.744098 9.46734.744098 6.34315 3.86829 3.21895 6.99249 3.21895 12.0578 6.34315 15.182 9.22833 18.0672 13.769 18.2879 16.9075 15.8442 16.921 15.8595 16.9351 15.8745 16.9497 15.8891L21.1924 20.1317C21.5829 20.5223 22.2161 20.5223 22.6066 20.1317 22.9971 19.7412 22.9971 19.1081 22.6066 18.7175L18.364 14.4749C18.3493 14.4603 18.3343 14.4462 18.319 14.4326ZM16.2426 5.28251C18.5858 7.62565 18.5858 11.4246 16.2426 13.7678 13.8995 16.1109 10.1005 16.1109 7.75736 13.7678 5.41421 11.4246 5.41421 7.62565 7.75736 5.28251 10.1005 2.93936 13.8995 2.93936 16.2426 5.28251Z"
                                fill="currentColor"
                        ></path>
                    </svg>
                </button>
            </div>
            <div class="search__header">
                <div class="search-toggle">
                    <a href="{% url 'searchsec' search_slug %}?search_description={{search_description}}"
                       hx-get="{% url 'searchsec'  search_slug %}?search_description={{search_description}}"
                       hx-target="#main-content"
                       hx-push-url="true"
                       hx-indicator="#content-loader"
                       hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                       class="{% if not request.GET.players and not request.GET.teams and not request.GET.leagues %}active{% endif %}"
                    >

                            <span>События</span>


                    </a>
                    <a href="{% url 'searchsec' search_slug %}?teams=1&search_description={{search_description}}"
                       hx-get="{% url 'searchsec'  search_slug %}?teams=1&search_description={{search_description}}"
                       hx-target="#main-content"
                       hx-push-url="true"
                       hx-indicator="#content-loader"
                       hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                       class="{% if request.GET.teams %}active{% endif %}"
                    >

                            <span>
                  <svg
                          value="teams"
                          stroke="currentColor"
                          fill="currentColor"
                          stroke-width="0"
                          viewBox="0 0 24 24"
                          height="1em"
                          width="1em"
                          xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                            d="M20.995 6.903a.997.997 0 0 0-.547-.797l-7.973-4a.997.997 0 0 0-.895-.002l-8.027 4c-.297.15-.502.437-.544.767-.013.097-1.145 9.741 8.541 15.008a.995.995 0 0 0 .969-.009c9.307-5.259 8.514-14.573 8.476-14.967zm-8.977 12.944c-6.86-4.01-7.14-10.352-7.063-12.205l7.071-3.523 6.998 3.511c.005 1.87-.481 8.243-7.006 12.217z"
                    ></path>
                  </svg>
                  Команды
                </span>


                    </a>
                    <a  href="{% url 'searchsec' search_slug %}?leagues=1&search_description={{search_description}}"
                        hx-get="{% url 'searchsec'  search_slug %}?leagues=1&search_description={{search_description}}"
                        hx-target="#main-content"
                        hx-push-url="true"
                        hx-indicator="#content-loader"
                        hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                        class="{% if request.GET.leagues %}active{% endif %}" >
                            <span>
                  <svg
                          value="leagues"
                          stroke="currentColor"
                          fill="currentColor"
                          stroke-width="0"
                          viewBox="0 0 24 24"
                          height="1em"
                          width="1em"
                          xmlns="http://www.w3.org/2000/svg"
                  >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 2.07c3.07.38 5.57 2.52 6.54 5.36L13 5.65V4.07zM8 5.08c1.18-.69 3.33-1.06 3-1.02v7.35l-3 1.73V5.08zM4.63 15.1c-.4-.96-.63-2-.63-3.1 0-2.02.76-3.86 2-5.27v7.58l-1.37.79zm1.01 1.73L12 13.15l3 1.73-6.98 4.03a7.794 7.794 0 1-2.38-2.08zM12 20c-.54 0-1.07-.06-1.58-.16l6.58-3.8 1.36.78C16.9 18.75 14.6 20 12 20zm1-8.58V7.96l7 4.05c0 1.1-.23 2.14-.63 3.09L13 11.42z"
                    ></path>
                  </svg>
                  Лиги
                </span>

                    </a>
                    <a href="{% url 'searchsec' search_slug%}?players=1&search_description={{search_description}}"
                       hx-get="{% url 'searchsec'  search_slug %}?players=1&search_description={{search_description}}"
                       hx-target="#main-content"
                       hx-push-url="true"
                       hx-indicator="#content-loader"
                       hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                       class="{% if request.GET.players %}active{% endif %}" >
                            <span>
                  <svg
                          stroke="currentColor"
                          fill="currentColor"
                          stroke-width="0"
                          viewBox="0 0 16 16"
                          height="1em"
                          width="1em"
                          xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
                    ></path>
                  </svg>
                  Игроки
                </span>

                    </a>
                </div>
                <select class="search__select favorite" id="rubricDropdown">
                        {% for rubric in rubrics %}
                            <option name="rubric" value="{% url 'searchsec' rubric.slug %}" {% if rubriccontext == rubric.slug %}selected{% endif%}>{{ rubric.name }}</option>
                        {% endfor %}
                    </select>
            </div>
            {% if events or teams or players or leagues %}
            <div class="search-mobile__data search-data">
                {% if events %}
                <h5 сlass="search-data__header">События</h5>
                <div class="search-data__list">
                    {% for event in events %}

                    <a class="search-data__item" href="{% url 'events_detail' event.slug %}"
                       hx-get="{% url 'events_detail'  event.slug %}"
                       hx-target="#main-content"
                       hx-push-url="true"
                       hx-indicator="#content-loader"
                       hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''">
                        <div class="search-data__item-info">
                            <p class="search-data__item-name">{{event.name}}</p>
                            <p class="search-data__item-country">{{event.start_at}}</p>
                        </div>

                    </a>

                    {% endfor %}
                    <div class="pagination">
                        <span class="step-links">
                            {% if events.has_previous %}
                            <a href="?page_events=1">&laquo; Первая</a>
                            <a href="?page_events={{ events.previous_page_number }}">Предыдущая</a>
                            {% endif %}

                            <span class="current-page"
                            >{{ events.number }} из {{ events.paginator.num_pages }}</span
                            >

                            {% if events.has_next %}
                            <a href="?page_events={{ events.next_page_number }}">Следующая</a>
                            <a href="?page_events={{ events.paginator.num_pages }}">Последняя &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% endif %}
                {% if teams %}
                <h5 сlass="search-data__header">Команды</h5>
                <div class="search-data__list">
                    {% for team in teams %}

                        <a  class="search-data__item" href="{% url 'team_detail' team.slug %}"
                           hx-get="{% url 'team_detail'  team.slug %}"
                           hx-target="#main-content"
                           hx-push-url="true"
                           hx-indicator="#content-loader"
                           hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''">
                            <picture>
                                <source srcset="{{team.logo}}" type="image/webp" />
                                <img src="{{team.logo}}" width="28" height="28" />
                            </picture>
                            <div class="search-data__item-info">
                                <p class="search-data__item-name">{{team.name}}</p>

                            </div>
                            <button>
                                <svg
                                        stroke="currentColor"
                                        fill="currentColor"
                                        stroke-width="0"
                                        viewBox="0 0 16 16"
                                        font-size="28"
                                        height="1em"
                                        width="1em"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                                    ></path>
                                </svg>
                            </button>
                        </a>

                    {% endfor %}
                    <div class="pagination">
                        <span class="step-links">
                            {% if teams.has_previous %}
                            <a href="?teams=1">&laquo; Первая</a>
                            <a href="?teams={{ teams.previous_page_number }}">Предыдущая</a>
                            {% endif %}

                            <span class="current-page"
                            >{{ teams.number }} из {{ teams.paginator.num_pages }}</span
                            >

                            {% if teams.has_next %}
                            <a href="?teams={{ teams.next_page_number }}">Следующая</a>
                            <a href="?teams={{ teams.paginator.num_pages }}">Последняя &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% endif %}
                {% if players %}
                <h5 сlass="search-data__header">Игроки</h5>
                <div class="search-data__list">
                    {% for player in players%}

                        <a class="search-data__item" href="{% url 'player_detail' player.slug %}"
                           hx-get="{% url 'player_detail'  player.slug   %}"
                           hx-target="#main-content"
                           hx-push-url="true"
                           hx-indicator="#content-loader"
                           hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''">
                            <picture>
                                <source srcset="{{player.photo}}" type="image/webp" />
                                <img src="{{player.photo}}" width="28" height="28" />
                            </picture>
                            <div class="search-data__item-info">
                                <p class="search-data__item-name">{{player.name}}</p>
                                <p class="search-data__item-country">{{player.position_name}}</p>
                            </div>
                            <button>
                                <svg
                                        stroke="currentColor"
                                        fill="currentColor"
                                        stroke-width="0"
                                        viewBox="0 0 16 16"
                                        font-size="28"
                                        height="1em"
                                        width="1em"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                                    ></path>
                                </svg>
                            </button>
                        </a>

                    {% endfor %}
                     <div class="pagination">
                        <span class="step-links">
                            {% if players.has_previous %}
                            <a href="?players=1">&laquo; Первая</a>
                            <a href="?players={{ players.previous_page_number }}">Предыдущая</a>
                            {% endif %}

                            <span class="current-page"
                            >{{ players.number }} из {{ players.paginator.num_pages }}</span
                            >

                            {% if players.has_next %}
                            <a href="?players={{ players.next_page_number }}">Следующая</a>
                            <a href="?players={{ players.paginator.num_pages }}">Последняя &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>

                {% endif %}
                {% if leagues %}
                <h5 сlass="search-data__header">Лиги</h5>
                <div class="search-data__list">
                    {% for league in leagues %}

                        <a class="search-data__item" href="{% url 'season_detail' league.slug %}"
                           hx-get="{% url 'season_detail'  league.slug %}"
                           hx-target="#main-content"
                           hx-push-url="true"
                           hx-indicator="#content-loader"
                           hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''">
                            <picture>
                                <source srcset="{{league.logo_league}}" type="image/webp" />
                                <img src="{{league.logo_league}}" width="28" height="28" />
                            </picture>
                            <div class="search-data__item-info">
                                <p class="search-data__item-name">{{league.league_name}}</p>
                                <p class="search-data__item-country">{{league.country}}</p>
                            </div>
                            <button>
                                <svg
                                        stroke="currentColor"
                                        fill="currentColor"
                                        stroke-width="0"
                                        viewBox="0 0 16 16"
                                        font-size="28"
                                        height="1em"
                                        width="1em"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                                    ></path>
                                </svg>
                            </button>
                     </a>
                    {% endfor %}
                    <div class="pagination">
                        <span class="step-links">
                            {% if leagues.has_previous %}
                            <a href="?leagues=1">&laquo; Первая</a>
                            <a href="?leagues={{ leagues.previous_page_number }}">Предыдущая</a>
                            {% endif %}

                            <span class="current-page"
                            >{{ leagues.number }} из {{ leagues.paginator.num_pages }}</span
                            >

                            {% if leagues.has_next %}
                            <a href="?leagues={{ leagues.next_page_number }}">Следующая</a>
                            <a href="?leagues={{ leagues.paginator.num_pages }}">Последняя &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% endif %}
            </div>
            {% else %}
            <div class="modal__search-no-data no-data">
                <picture>
                    <source srcset="{% static 'docs/img/no-data.webp' %}" type="image/webp" />
                    <img src="{% static 'docs/img/no-data.png' %}" />
                </picture>
                Нет данных
            </div>
            {% endif %}
        </div>
    </div>


    <div class="search__left-banners side-banners right">
        {% for baner in sidebar_baners_right %}
        <a href="{{ baner.slug }}" class="adv-link">
            <picture>
                <source srcset="{{ baner.baner.url }}" type="image/webp" />
                <img src="{{ baner.baner.url }}" alt="logo" />
            </picture>
        </a>
        {% endfor %}
    </div>
</main>
<script>
    // Get the select element
    var rubricDropdown = document.getElementById("rubricDropdown");

    // Add an event listener to handle the change event
    rubricDropdown.addEventListener("change", function() {
        // Redirect to the selected URL when an option is changed
        var selectedOption = rubricDropdown.options[rubricDropdown.selectedIndex];
        var selectedURL = selectedOption.value;
        if (selectedURL) {
            window.location.href = selectedURL;
        }
    });
</script>



