{% extends 'themes/base.html' %}
{% load generals_tag %}

{% block description %}  {% endblock description %}
{% block title %}Восстановление пароля {% endblock title %}
<!--headlink-->
{% block headlink %}

{% endblock headlink %}

<!---header-->
{% block header %}

{% endblock header %}

<!--content-->
{% block content %}
<main class="acc-form container">
    <div class="acc-form__form">
        <h2 class="acc-form__name-block"> Введите ваш email</h2>
        <div class="sign_in_up_bg">
            <div class="container">
                <div class="row justify-content-lg-center justify-content-md-center">
                    <div class="col-lg-12">
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <div class="sign_form">
                            <form method="post">
                                {% csrf_token %}
                                <br>
                                <label>
                                {{ form.as_p }}
                                    </label>
                                <div class="acc-form__form-bottom"><button class="login-btn" type="submit">Восстановаить пароль</button></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="acc-form__block">
        <h2>chesterbets</h2>
        <div class="acc-form__empty-block account-empty-block">
           {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <div class="alert alert-danger">
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                </div>
                                {% endfor %}
                            </ul>
                            {% endif %}
        </div>
    </div>
</main>

{% endblock content %}

<!--footerlink-->
{% block footerlink %}

{% endblock footerlink %}